{% extends 'base.html' %}
{% block title %} About Me {% endblock %}
{% block main_content %} 
<link href='static/css/about.css' rel='stylesheet'>



    
    <!-- <div class='row'> -->
        <!-- <div class='col offset-2'> -->
    <div id='about'>
    <div class='caption'>
        <h1>Hi, Lisa Leniashina Here!</h1>
        <h3>A Bit About Me...</h3>
    </div>
    <!-- </div> -->
    <!-- </div> -->
    <div class="container" >
    <div class='row mt-4'>
    <div class='col-3 ml-4'>
    
        <img alt="Avatar" id='avatar' src="/static/img/me4.jpg">
    </div>
   
    
  <div class='col about'>
   
    <p > I became interested in mathematics and computer programming in high school. I got a BS in Mathematics and took intro programming classes at my University in Russia. After that I got a chance to join <strong>Intel Corporation</strong> as an Intern in Technical Recruiting, and suddenly found myself mastering my skills in hiring top-notch software engineers. Later on, I worked at <strong>Sun Microsystems</strong> and  <strong>Oracle Corporation</strong>.
    After moving to the Bay Area, I worked as a technical recruiter with different tech companies across the Silicon Valley.</p>
    <p><strong>While I enjoyed working with software developers and hiring managers, I loved technology and problem solving, and decided to switch my career path into software engineering.</strong></p>

 </div>
</div>
 <div class='row'>
 <div class='col ml-4 about'>
    <p>As a starting point in my career transition to software engineering I completed Python for Everybody online specialization through Coursera, and earned certificates: Python Data Structures; Using Python to Access Web Data; Using Databases with Python; Data Science Math Skills; Internet History, Technology, and Security.</p>
    <p><strong>In August 2018 I completed a three-month software engineering intensive program at Hackbright Academy </strong>(curriculum includes <strong>Python, JavaScript, SQL, HTML/CSS,</strong> and various libraries and frameworks). The last four weeks I spent building a full-stack web app called Moviescope, which utilizes third parties APIs to help users to keep track of films they have watched or want to watch in the future. </p>
    <p> <strong>I look forward to continuing using my problem-solving mindset along with my new coding skills in a role as a software developer. I am goal-focused, deeply passionate about learning person always ready to contribute to my team's success and go above-and-beyond to achieve corporate objectives.</strong></p>

 </div>
</div>
</div>
</div>



 {% endblock %}