<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href='static/css/base.css' rel='stylesheet'>
      
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title> {% block title %} Title {% endblock %}</title>

</head>

<body>
<div class="bg">
<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav " id="navbarText">
      <li class="nav-item">
        <a class="nav-link  navbarText" href="/"><h5> HOME</h5> </a>
      </li><li class="nav-item">
        <a class="nav-link navbarText" href="/about"><h5>ABOUT</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbarText" href="/static/files/Lisa_Leniashina_SW_Engineer.pdf" target="_blank"><h5>RESUME</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbarText" href="/projects"><h5>PROJECTS</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbarText" href="/contact"><h5>CONTACT</h5></a>
      </li>
    </ul>

  </div>
</nav>


    {% block main_content %} content {% endblock %}
</div>
</body>

<!-- <footer>
    text
</footer> -->
</html>