{% extends 'base.html' %}
{% block title %} Contact Me {% endblock %}
{% block main_content %} 
<link href='static/css/contact.css' rel='stylesheet'>

<div class='contacts'>
<!-- <h1> Thank you for visiting my web-site</h1> -->
<h1> Let's stay in touch!</h1>
<div class='col'>
    <a href='mailto:leniashina@gmail.com'><img src="static/img/email.png" height="42" width="42">
    <span class='details'> leniashina@gmail.com</span></a><br><br>
    <a href='https://www.linkedin.com/in/lisaleniashina' target="_blank"><img src="static/img/linkedin.png" height="42" width="42">
    <span class='details'> linkedin.com/in/lisaleniashin</span></a><br><br>
    <a href='https://github.com/lisalen' target="_blank"><img src="static/img/github.png" height="42" width="42">
    <span class='details'> github.com/lisalen</span></a><br><br>

</div>





 {% endblock %}