{% extends 'base.html' %}

{% block title %} Lisa Leniashina Web Site {% endblock %}


{% block main_content %}
<link href='static/css/project.css' rel='stylesheet'>

<div class='container'>
    
    <ul id='title'>
    <li id='projecttitle'><a class='project' href='https://moviescope.biz' target="_blank"><strong> Moviescope</strong></a></li>&nbsp;&nbsp;
    <li><em>(student project at Hackbright)</em></li>&nbsp;&nbsp;&nbsp;&nbsp;
     
    
    <li><a class='project' href='https://www.youtube.com/watch?time_continue=1&v=H5AtT1rus5E' target="_blank"><strong>Screencast</strong></a>
    <em> (3 min video)</em></li>
    </ul>
   

    <div class = 'row'>
        <div class='col-4'>
            <img src = '/static/img/landing.jpg'><br><br>    
            <img src = '/static/img/recom1.jpg'>
        </div>
       
        
        <div class='col'>
        <p>Moviescope is a personal movie journal, which helps users to track films they have watched or want to watch in the future. A user can search for a movie by title, add reviews and ratings, and store it in a personal journal. Also, Moviescope provides a list of recommendations matching the user’s taste. A user can compile a wishlist of films and find watch options on streaming services and in theaters.</p>
        <h5> Technology Stack:</h5>
        <ul>
            <li> Backend: Python, Flask, PostgreSQL, SQLAlchemy </li>
            <li>Frontend: JavaScript, jQuery, AJAX, JASON, Jinja2, Bootstrap, HTML5, CSS3 </li> 
            <li>APIs: OMDB, Recombee, JustWatch  </li> 
            <li>Dataset: MovieLens  </li> 
        </ul>
        <p> More details see on my<a href='https://github.com/LisaLen/Moviescope'> <strong class='project'>GitHub</strong></a></p>

        </div>
    </div>
</div>

<div class = 'container'>
   
    <p><a href='https://www.youtube.com/watch?v=6dFncR9Lx_4'> <strong class = 'project'> My Presentation at Hackbright Graduation Night</strong></a><em> (non-technical)&nbsp;&nbsp;(August 23, 2018, 8 min video)</em></p>
 
     <div class = 'row'>
        <div class='col-3'>
            <img id='hb' src = '/static/img/hb.jpg'>
        </div>
               
        <div class='col'>
        <p>Hackbright Academy is the leading <strong>software engineering school for women</strong> founded in San Francisco in 2012. Their accelerated software development program is stimulating, exciting and fulfilling.<br>
            The Software Engineering Program curriculum combines <strong>computer science data structures and algorithms</strong> with marketable industry standard web development technologies. Within 12 weeks we covered the most critical skills and tools required to be a software engineer, including <strong>version control</strong>, the Linux command line, <strong>relational databases, web frameworks, AJAX/JQuery</strong> and front-end frameworks. We also covered broader essential software engineering topics like <strong>debugging, pair programming</strong>, code reviews, core computer science concepts (including <strong>runtime analysis, recursion</strong>, and advanced data structures, such as <strong>linked lists, graphs and trees</strong>), and technical whiteboarding.<br>
            <strong>It was challenging and fun, and a piece of my heart will always stay with this emazing school</strong></p>
    </div>
 
    
   
 

</div>


{% endblock %}